main{
    background-color: #B1CF5F;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3rem;
    background-color: #0D1B1E;
    color: #B1CF5F;
}
div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    
}
.companion-div{
    border: solid;
    background-color: #606C38;
    justify-content: center;
    align-content: center;
    justify-items: center;
}

.hidden{
    display: none;
}

  h3 {
   margin: 5px;
   font-size: 20px;
  }

  span{
      margin: 5px;
  }
  
img{
    margin: 5px;
}

button {
    background-color: green;
    color: honeydew;
    border: solid;
    margin: 10px;
    cursor:grab;
    border-color: ivory;
    border-radius: 45%;
    height: 40px;
}
  

#submit-form{
    background-color: rgba(36, 135, 14, 0.869);
    border: solid;
    color: honeydew;
    border-color: black;
    border-radius: 5px;
    font-size: 30px;
    position: fixed;
    z-index: 1;
    bottom: 3%;
    right: 10%;
}