html{
    margin-top: 100px;
    padding: 20px;
    background-color: green;
    background-image: url('../assets/plant-box.png');
    background-repeat: no-repeat;
    background-size: contain;

}

.plant-bed{
    margin: 4rem;
}

.plant-icons {
    height: 80px;
    width: 80px;
}

.companion-icons {
    height: 80px;
    width: 80px;

}

#plant-section{
    /* background-color: darkkhaki; */
    width: 320px;
    height: 80px;
    display: flex;
    flex-direction: row;

}

#compa-section{
    /* background-color: darkkhaki; */
    width: 320px;
    height: 80px;
    display: flex;
    flex-direction: row;

}